/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* {border: 1px solid black;}

/***********GENERALE******************
**************************************/
/***********Menu responsive*************/
* {border: 1px solid black;}
.navbar {
  background-color: rgb(245, 107, 42);
}


#menu a {
  color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
}

#menu a:hover {
  text-decoration: underline;
}

#boutonmenu {
  border: none;
  color:rgb(245, 107, 42) ;
  background-color: white;
  margin-right: 90px;
  padding: 13px 10px 13px 10px;
  font-size: 14px;
  font-weight: bold;
}


 #menu img {
   position: absolute;
   top:10px;
   left: 30%;
   width: 140px;
   height: 40px;

 }


#menu nav {
  height: 60px;
}


/********Header*******/

h1 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

header span {
  color: rgb(245, 107, 42);

}

#region img {
  width: 338px;
  height: 123px;
}

header a {
  color: white;
  background-color: rgb(65, 131, 215);
  padding: 12px 70px 12px 70px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
}

header button {
  color: rgb(65, 131, 215);
  background-color: transparent;
  font-size:13px;
  font-weight: bold;
  padding: 12px 57px 12px 57px;
  border-radius: 4px;
  border-color: rgb(65, 131, 215);
  margin-top: 30px;

}



/********Carte de France******/
path {
  fill: rgb(56, 115, 189);
}
path:hover{
  fill: rgb(245, 107, 42);
}
/*********************************/
h2 {
  font-size: 14px;
  font-weight: bold;

}

h2 a {
  color: rgb(51, 102, 153);
}

/*************Mobile*****************
*************************************/
/*************Header***************/

#region {
  display: block;
}

#actualite {
  display: none;
}

header a {
  margin: 40px;
}

header button {
  margin-left: 40px;
}

/*********bouton choisir une région*********************/

#region select {
  background-color: white;
  padding: 15px 130px 15px 15px;
  margin:10px;
  font-weight: bold;
  border-radius: 4px;
  border-color: lightgrey;
}

#region img {
  margin-left: 10px;
  margin-top: 15px;
  border: solid lightgrey 1px;
}

/*****************Carte de France***********************/

#cartedefrance svg {
  height: 400px;
  width: 100%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
/*************Tablette**************
**************************************/
@media (min-width:768px) {

  #region {
    display: block;
  }

  #actualite {
    display: none;
  }


  #region img {
    width: 746px;
    height: 273px;
  }


  #menu img {
    left: 40%;
}

header a {
  margin: 230px;
}

header button {
  margin-left: 230px;
}

/*****************Bouton choisir une region*********************/
#region select {
  width: 98%;

}

/****************Carte de France*****************/

#cartedefrance svg {

  width: 748px;
  height: 808px;
}
}

/*********************Desktop***************
*******************************************/
@media (min-width:992px) {

  /*********************Barre de menu****************/

  #menu ul {
    margin-left: 240px;
  }

  #menu img {
    left: 110px;;
  }

  #seconnecter{
    background-color: rgb(245, 107, 42) !important;
    color: white !important;
    border: none;
    margin-right: 110px;
    font-size: 14px;

  }


  /********header********/

  #region {
    display: none;
  }

  #actualite {
    display: block;
  }
 h1 {
   margin-bottom: 50px;
   margin-left: 90px;
   text-align: left;
 }
header a {
  margin-left: 90px;
  padding-left: 98px;
  padding-right: 98px;
}

header button {
  margin-left: 90px;
  padding-left: 84px;
  padding-right: 84px;
}

#actualite {
  width: 334px;
  height: 290px;
  margin-left: 90px;
  margin-top: 20px;


}

header article {
width: 500px;
}

header h2 {
  height: 50px;
  background-color: rgb(102, 102, 102);
  color: white;
  text-align: center;
  padding-top: 15px;
}

/**************Carte de France**********************/
#cartedefrance svg {
  width: 500px;
  height: 500px;
  margin-top: 20px;
}
/*********Aside****************/
  aside {
    display: block;
  }


  aside li {
    list-style: none;
    text-align: right;
  }


  aside a {
    color:rgb(51, 102, 153);
    text-decoration: none;
  }
  aside a:hover {
    color: rgb(245, 107, 42);
    text-decoration: none;
  }
/**************Footer********************/
#foothaut li {
  list-style: none;
  }

#foothaut a {
  color: rgb(51, 102, 153);
  text-decoration: none;
}

#foothaut a:hover {
  text-decoration: underline;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
